/* Old browser warning */
.old-browser-warning {
    display: none;
}

.old-browser-warning h1 {
    text-align: center;
}

.lt-ie-9 div {
    display: none;
}

.lt-ie-9 .old-browser-warning {
    display: block;
}
