@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "登录";
    string ThisController = ViewData["Controller"] as string;
    string ReturnUrl = ViewData["ReturnUrl"] as string;
    string RequestVerificationToken = Xsrf.GetAndStoreTokens(Context).RequestToken;
}

<div id="root"
     asp-prerender-module="ClientApp/boot-server"
     asp-prerender-data="new {
                    Controller = ThisController,
                    ReturnUrl = ReturnUrl,
                    Cookies = ViewContext.HttpContext.Request.Cookies,
                    RequestVerificationToken = RequestVerificationToken
                 }"
></div>

@section Styles {
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/Account.js"></script>
}
