@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model CoreCRM.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div id="my-spa" asp-prerender-module="ClientApp/boot-server"></div>

@section Scripts {
    <script type="text/javascript" src="~/js/Account.js"></script>
}
