@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model CoreCRM.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div id="root" asp-prerender-module="ClientApp/boot-server"></div>

@section Styles {
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/Account.js"></script>
}
